<a href="https://colab.research.google.com/github/sergionl/Quoridor/blob/master/Quoridor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inicializar
En esta secci√≥n de codigo se inicializa la matriz que representara el tablero. Ademas se inicializa a los jugadores y se colocaran en la matriz, estos estaran representados por un numero(1,2,3,4)

In [19]:
n=int(input())
mat = []
numj=2
for i in range(n):
  mat.append([0]*n)
posinicial=[(0,n//2),(n-1,n//2),(n//2,0),(n//2,n-1)]
posactual=[]
for i in range(numj):
  x,y=posinicial[i]
  mat[x][y]=i+1
  posactual.append((x,y))
  

for i in range(n):
  print(mat[i])

5
(0, 2)
(4, 2)
[0, 0, 1, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 2, 0, 0]